/node_modules/
/.idea/
/.venv/
/gem/
/gemini/
/gemini/core/
/pyodide/
/dist/
/bin/
/.tmp/window_state.config.json
/resources/neutralinojs.log
/neutralinojs.log
/resources/neutralino.d.ts
/.tmp/auth_info.json
